<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat</title>
    <link rel="stylesheet" href="../../client/public/css/chat.css" />
    <script
      defer
      src="https://kit.fontawesome.com/bd4ab4d7ef.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../../client/public/js/chat.js"></script>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="head-container">
          <div class="title">IG-ChatForm</div>
          <div class="head-buttons">
            <button class="leave-room-btn" type="submit">Leave Room</button>
            <button class="export-btn" type="submit">Export chat</button>
          </div>
        </div>
        <div class="mid-container">
          <div class="users-box">
            <div class="rooms">
              <h4><i class="fa fa-comments"></i>Room :</h4>
              <p>Dino Thunder</p>
            </div>
            <div class="users">
              <h4><i class="fa fa-users"></i>Users:</h4>
              <div class="scroll-usernames">
                <div class="user-name">
                  <img src="" alt="" class="user-avatar" />
                  <span>Inderjeet vanugopal iyer</span>
                </div>
                <div class="user-name">
                  <img src="" alt="" class="user-avatar" />
                  <span>vanugopal iyer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="chatbox">
            <div class="chats chat-left">
              <img src="" alt="" class="user-avatar" />
              <span class="name">IG-ChatForm</span>
              <span class="time">9:50am</span>
              <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Ducimus quasi doloribus voluptatum vitae. Hic eos ipsam
                reiciendis, reprehenderit, perferendis quis delectus incidunt
                debitis distinctio, eligendi consequatur iusto? Maxime enim
                dignissimos error beatae maiores nemo. Tempore tempora ab
                aliquid sed? Est nostrum rerum labore! Soluta, id!
              </p>
            </div>
            <div class="chats chat-left">
              <img src="" alt="" class="user-avatar" />
              <span class="name">sonu</span>
              <span class="time">9:50am</span>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                dicta velit hic laborum in repudiandae inventore facere eaque,
                nulla officia, nostrum labore quisquam ea est nesciunt eligendi
                aut, quos nam.
              </p>
            </div>
            <div class="chats chat-right">
              <img src="" alt="" class="user-avatar" />
              <span class="name">sonu</span>
              <span class="time">9:50am</span>
              <p class="text">okay google ! this is one liner</p>
            </div>
          </div>
        </div>
        <div class="foot-container">
          <div class="message-send-box">
            <img src="" alt="" class="user-avatar" />
            <input type="text" name="message" placeholder="Enter Message" />
          </div>
          <button class="send-btn" type="submit">Send</button>
        </div>
      </div>
    </main>
  </body>
</html>
